body {
  //background-color: #F3BA23;
}

a.left.carousel-control {
  height: 100%!important;
}

a.right.carousel-control {
  height: 100%!important;
}

#myCarousel {
  height: 70%!important;
}


.h3Edited {
  font-size: 23.5px!important;
}

.navbar-inverse {
  background-color: #58475B!important;
  border-color: #58475B!important;
  color: white!important;
}

.navbar-inverse .navbar-brand {
  color: white!important;
  //cor branca no link
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #BB8800;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #F8D47E!important;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #58475B;
}

.navbar-inverse .navbar-brand:hover {
  color: #9d9d9d!important;
}

.navbar-inverse .navbar-nav>li>a {
  color: white!important;
}

.panel-default>.panel-heading {
  background-color: #58475B!important;
  color: white!important;
}

.panel-body {
  background-color: #BB8800!important;
  color: white!important;
}

.navbar-inverse .navbar-brand:hover {
    color: #fff!important;
}

.textoDescricao {
  padding-left: 10%;
  text-align: left;
}

.checkbox {
  float: left!important;
}

.campos {
  padding-top: 10px;
  padding-left: 50%;
}

.total {
  background-color: #BB8800;
  height: 70px;
  width: 200px;
  border-radius: 10px;
  color: white;
  float: right;
  text-align: center;
  font-size: 23px;
  padding-top: 4px;
}

.moneyIco {
  float: right;
  height: 60px;
  width: 60px;
  padding-top: 6px;

}

.totalRS {
  display: inline;
  position: absolute;
  margin-left: -5%;
}

#resultado {
  color: black;
}

a {
  color: #59475B;
}

a:hover  {
  color: #8A6D8C;
}

@font-face {
  font-family: Modak;
  src: url("../fonts/Modak.ttf") format("truetype");
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive script{
  /*ou iframe*/
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.estrelas input[type=radio] {
  display: none;
  cursor: pointer;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
  cursor: pointer;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
  cursor: pointer;
}
